<%= form_for(@completed_assignment) do |f| %>
  <% if @completed_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@completed_assignment.errors.count, "error") %> prohibited this completed_assignment from being saved:</h2>

      <ul>
      <% @completed_assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, value: session[:user_id] %>
  </div>
  <div class="field">
    <%= f.hidden_field :assignments_id, value: session[:assignment_id] %>
  </div>
  <div class="field">
    <%= f.label :url, "Github URL" %><br>
  </div>
  <% if student? %>
  <div class="field">
    <%= f.url_field :url, placeholder: "Paste Github URL here" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Assignment for review" %>
  </div>
  <% end %>
  <% if teacher? %>
  <div>
    Completed to specifications? <%= f.check_box :completed %><br>
    <%= f.submit "Save" %><br>
  </div>
  <% end %>
<% end %>
