<div class="container">
<h1>
  <%= @assignment.title %>
</h1>

<p>
  <strong>Assigned:</strong>
  <%= @assignment.date.to_formatted_s(:long_ordinal) %><br>
  <strong>Due:</strong>
  <%= @assignment.due.to_formatted_s(:long_ordinal) %><br>
  <% if ((@assignment.due - DateTime.now)/3600) > 0 %>
  <strong>Hours Until Due:</strong>
  <%= ((@assignment.due - DateTime.now)/3600).to_i %>
  <% end %>
</p>

  <%= markdown(@assignment.description) %>

<% if teacher? %>
  <h3>Students</h3>
  <% @students.each do |student| %>
     <div><%= student.name %> |
           <% submission1 = student_completed(student.id, @assignment.id) %>
           <% if submission1.any? %> <span class="radius green label">COMPLETED</span>
           <%= link_to "Submitted URL", submission1[0].url %>
           <% end %>
           <% submission2 = student_for_review(student.id, @assignment.id) %>
           <% if submission2.any? %> <span class="radius regular label">UP FOR REVIEW</span>
           <%= link_to "Submitted URL", submission2[0].url %> |
           <%= link_to "Review", edit_completed_assignment_path %>
           <% end %>
           <% if !submission1.any? && !submission2.any? %> <span class="radius alert label">NOT SUBMITTED</span>
           <% end %>
      </div>
  <% end %>
<% end %>
<p>
  <ul class="button-group">
    <% if student? %>
    <li><%= link_to 'Submit assignment', new_completed_assignment_path, class: "button" %></li>
    <% end %>
    <li><%= link_to 'See all Assignments', assignments_path, class: "button" %><li>
  </ul>
</p>
