<div class="container">
<p id="notice"><%= notice %></p>

<h1>
  <%= @assignment.title %>
</h1>

<p>
  <strong>Assigned:</strong>
  <%= @assignment.date.to_formatted_s(:long_ordinal) %><br>
  <strong>Due:</strong>
  <%= @assignment.due.to_formatted_s(:long_ordinal) %>
</p>

  <%= markdown(@assignment.description) %>



<% if student? %>
  <%= link_to 'Complete assignment', new_completed_assignment_path %>
<% end %>

<% if teacher? %>
  <h3>Students</h3>
  <% @students.each do |student| %>
     <div><%= student.name %> |
           <% submission1 = student_completed(student.id, @assignment.id) %>
           <% if submission1.any? %> Completed |
           <%= link_to "Submiitted URL", submission1[0].url %>
           <% end %>
           <% submission2 = student_for_review(student.id, @assignment.id) %>
           <% if submission2.any? %> Up for review |
           <%= link_to "Submitted URL", submission2[0].url %> |
           <%= link_to "Review", edit_completed_assignment_path %>
           <% end %>
           <% if !submission1.any? && !submission2.any? %> Incomplete
           <% end %>

      </div>
  <% end %>

<% end %>
<br><%= link_to 'Assignments', assignments_path %>
</div>
