<div class="container">
<p id="notice"><%= notice %></p>

<h1>
  <%= @assignment.title %>
</h1>

<p>
  <strong>Assigned:</strong>
  <%= @assignment.date.to_formatted_s(:long_ordinal) %><br>
  <strong>Due:</strong>
  <%= @assignment.due.to_formatted_s(:long_ordinal) %>
</p>

  <%= markdown(@assignment.description) %>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %> |
<%= link_to 'Complete assignment', new_completed_assignment_path %>


<%= session[:assignment_id] %>


</div>
